body{
    background: black;
    color: white;
}
.table
{
     border: 1px solid;
     text-align: center;
     box-shadow: 20px 10px 20px;
}
button:hover{
    background: rgb(137, 140, 250);
}
th{
    border: 1px solid;
}
td{
   
    border: 1px solid;
    
}
tr{
    border: 1px solid;
}
.fondo{
    background: rgb(255, 0, 0);
    color: white;
}
div
{
    color: black;
}